* {
    font-family: "JetBrains Mono Nerd Font";
    font-size: 14px;
    padding: 0px;
    margin: 0px;
}
window#waybar {
    background: rgba(0, 0, 0, 0.9);
    color: #ffffff;
/*    border: 1px solid #ffffff;*/
}
#memory,
#pulseaudio,
#bluetooth,
#network,
#backlight,
#battery {
    margin-left: 10px;
    margin-right: 5px;
}
.modules-left {
    margin-left: 5px;
    margin-right: 5px;
}
.modules-right {
    margin-right: 8px;
    margin-left: 8px;
}
#custom-clock {
    color: #ffffff;
    font-weight: bold;
    margin-left: 5px;
    margin-right: 5px;
}
#workspaces {
    margin-left: 3px;
    margin-right: 3px;
}
#workspaces button {
    padding-left: 3px;
    padding-right: 3px;
    padding-top: 2px;
    padding-bottom: 2px;
    color: #aaaaaa;
    background: transparent;
    border: none;
    box-shadow: none;
    min-height: 0;
}
#workspaces button:hover {
    color: #aaaaaa;
    background: transparent;
    background-image: none;
    border: none;
    box-shadow: none;
}
#workspaces button.active {
    color: #ffffff;
    background: transparent;
    border: none;
    font-weight: bold;
}
tooltip {
    background: rgba(0, 0, 0, 0.8);
    border: 2px solid #ffffff;
    border-radius: 4px;
    margin: 10px;
}
tooltip label {
    color: #ffffff;
    padding: 4px 8px;
}
